{% extends 'blog/base/base.html' %} 

{% load crispy_forms_tags %} 

{% block content %}
<main class="form-signup w-50 m-auto">

  <form method="POST">
    {% csrf_token %}
    <div class="card" style="width: 50rem">
      <div class="card-header">
        <h6 class="card-text"> Sign Up </h6>
      </div>
      <div class="card-body">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      {{ form|crispy }}
      <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
    </fieldset>
  </div>
  </div>
  </form>

  <div class="border-top pt-3">
    <small class="text-muted">
      Already have an account? <a href="{% url 'login' %}" class="ml-2"> Log in</a>
    </small>
  </div>
</main>
{%endblock content%}
